html, body { width:100%; height:100%; }

html, button, input, select, textarea { color: #222; }

body { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { height:1px; margin: 1em 0; padding: 0; display:block; border: 0; border-top: 1px solid #ccc; }

img { vertical-align: middle; }

fieldset { border:0; margin:0; padding:0; }

textarea { resize:vertical; }

.chromeframe { margin:0.2em 0; padding:0.2em 0; background:#ccc; color:#000; }


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body { font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper { width:100%; }

/* ===================
    ALL: Orange Theme
   =================== */

header { position:absolute; left:0px; top:0px; }
	div.menuTab { width:30px; height:19px; background:url(../images/misc/hamburger.png) no-repeat; cursor:pointer; }

.main-container { width:100%; height:100%; overflow:hidden; }
	#dataOverview { position:absolute; top:0px; left:0px; }
	.main { width:100%; height:100%; margin:0 auto; display:block; }
		.main svg { width:100%; height:100%; }	
			circle {
			  fill: rgb(31, 119, 180);
			  fill-opacity: .25;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			}
			.leaf circle {
			  fill: #ff7f0e;
			  fill-opacity: 1;
			}
			text {
			  font: 10px sans-serif;
			}
	#legend { position:absolute; bottom:0px; right:0px; }

footer { position:absolute; left:0px; bottom:0px; }

footer, .main aside { }

header, footer, .main aside { background: #f16529; }

.title { color: white; }

/* ==============
    MOBILE: Menu
   ============== */

nav ul { margin: 0; padding: 0; }

nav a { margin-bottom: 10px; padding: 15px 0; display: block; text-align: center; text-decoration: none; font-weight: bold; color: white; background: #e44d26; }

nav a:hover, nav a:visited { color: white; }

nav a:hover { text-decoration: underline; }

/* ==============
    MOBILE: Main
   ============== */

.main { /*padding: 30px 0;*/ }

.main article h1 { font-size: 2em; }

.main aside { color: white; padding: 0px 5% 10px; }

.footer-container footer { color: white; padding: 20px 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
   nav a { width: 27%; margin: 0 1.7%; padding: 25px 2%; margin-bottom: 0; float: left; }

    nav li:first-child a { margin-left: 0; }

    nav li:last-child a { margin-right: 0; }

	.main { max-width:320px; }
@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
   .header-container, .main aside {
	   -webkit-box-shadow: 0 5px 10px #aaa;
	   -moz-box-shadow: 0 5px 10px #aaa;
	   box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
   .title { float: left; }

    nav { width: 38%; float: right; }

/* ============
    WIDE: Main
   ============ */
	.main { max-width:600px; }
   .main article { width: 57%; float: left; }
   
   .main aside { width: 28%; float: right; }
}

@media only screen and (min-width: 1280px) {

/* ===============
    Maximal Width
   =============== */
   .wrapper { /* width: 1026px; 1140px - 10% for margins */ margin: 0 auto; }
	.main { max-width:960px; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { width: 0; height: 150%; content: ""; display: block; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { width: 1px; height: 1px; margin: -1px; padding: 0; position: absolute; border: 0; clip: rect(0 0 0 0); overflow: hidden; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { width: auto; height: auto; margin: 0; position: static; clip: auto; overflow: visible; }

.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ==========================================================================
   Retina Image Styles
   ========================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	#menuTab { background-image:url(../images/misc/hamburger@2x.png); background-size:30px 19px; }
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }

    a, a:visited { text-decoration: underline; }

    a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    /* Don't show links for images, or javascript/internal links */

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

    thead { display: table-header-group; /* h5bp.com/t */ }

    tr, img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    @page { margin: 0.5cm; }

    p, h2, h3 { orphans: 3; widows: 3; }

    h2, h3 { page-break-after: avoid; }
}
